*{
 box-sizing: border-box;
 /* background-color: aqua; */
 scroll-behavior: smooth;
}

/* scroll-behavior: smooll; */

.container{
 max-width: 1200px;
 margin: 0 auto;
 padding: 0 10px;
}

.header__top-inner{
 display: flex;
 justify-content: space-between;
 text-align: center;
 position: fixed;
 left: 0;
 right: 0;
 top: 0;
 background-color: #fff;
 /* opacity: 0.7; */
}

.logo{
 padding-left: 25px;
}

.menu__list{
 display: flex;
}

.menu__list-item + .menu__list-item{
 margin-left: 32px;
}

.menu__list-item{
 list-style: none;
}

.menu__list-link{
 padding: 0 9px 9px;
 font-size: 12px;
 line-height: 14px;
 text-decoration: none;
 text-transform: uppercase;
 color: #373A39;
 font-weight: bold;
 font-family: sans-serif;
 letter-spacing: 0.6px;
}

.header{
 background-image: url('../images/header-bg.jpg');
 min-height: 100vh;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}

.header__title{
 font-family: sans-serif;
 font-weight: 500;
 font-size: 72px;
 line-height: 88px;
 color: #fff;
 text-transform: uppercase;
 margin-top: auto;
 padding-top: 160px;
 margin-bottom: -10px;
}

.header__subtitle{
 font-family: sans-serif;
 font-weight: 500;
 font-size: 16px;
 line-height: 20px;
 letter-spacing: 2.74px;
 color: #FCBB08;
 text-transform: uppercase;
 margin-bottom: auto;
 /* color: rgb(red, green, blue);
 color: black; */
}

.header__content-inner{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 min-height: calc(100vh - 105px);
}

.icon-img{
 margin-bottom: 65px;
}

.about{
 background-color: #F6F8FA;
 padding: 150px 0 144px;
}

.about__inner{
 display: flex;
 justify-content: space-between;
 font-family: sans-serif;

}

.about__text p{
 max-width: 770px;
 margin-bottom: 16px;
}

.about__title{
 font-size: 48px;
}

.magic{
 background-color: #F6F8FA;
 background-image: url('../images/magic.jpg');
 background-repeat: no-repeat;
 background-position: left 83%;
}

.magic__inner{
 max-width: 470px;
 padding: 100px 0 190px;
 margin-left: auto;
 font-family: sans-serif;
}

.magic__title{
 font-size: 48px;
}

.magic__text p{
 font-size: 16px;
 margin-bottom: 20px;
}

.team{
 padding: 120px 0 132px;
}

.team__items{
 display: flex;
 justify-content: space-between;
 text-align: center;
}

.team__name{
 font-size: 14px;
 text-transform: uppercase;
 font-family: sans-serif;
}

.team__position{
 font-size: 14px;
 font-family: sans-serif;
}

.footer__top{
 text-align: center;
 background-color: #333;
 padding: 110px 10px 60px;
 /* color: #fff; */

}

.footer__logo{
 display: inline-block;
 padding: 0 35px 4px;
 margin-bottom: 75px;
}

.footer__logo:hover{
 border-bottom: 2px solid #FCBB08;
 /* background-color: aquamarine; */
}

.footer__logo path{
 fill: #fff;
}

.footer__social{
 display: flex;
 justify-content: center;
 margin-bottom: 65px;
}

.footer__social-list{
 padding: 0 15px;
 list-style: none;
}

.footer__social-link{
 font-family: sans-serif;
 font-size: 14px;
 text-decoration: none;
 text-transform: uppercase;
 color: #fff;
 letter-spacing: 1.5px;
}

.footer__social-link:hover{
 color: #FCBB08;
 transition: all 0.5s;
}

.footer__contact{
 font-family: sans-serif;
 font-size: 14px;
 color: #fff;
 margin-bottom: 60px;
}

.address{
 margin-bottom: 15px;
}

.footer__contact a{
 display: block;
 font-size: 18px;
 color: #fff;
 text-decoration: none;
 margin-bottom: 15px;
}

.go-top{
 font-size: 14px;
 color: #fff;
 text-decoration: none;
}

.go-top:hover::after{
 content: "Up to header";
 color: #FCBB08;
}


.footer__copy{
 padding: 15px 10px;
 text-align: center;
 color: #CCCCCC;
 background-color: #2A2C2B;
 font-size: 12px;
}

.menu__btn{
 display: none;
}

@media(max-width: 810px){
 .menu__list{
  /* display: none; */
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  flex-direction: column;
  text-align: center;
  background-color: #000;
  transform: translateX(-150%);
  transition: all .5s;
 }



  .menu__list.menu__list--active{
   transform: translateX(0);
  }


 .menu__list-item + .menu__list-item{
  margin-left: 0;
 }

 .menu__list-link{
  display: block;
  color: #fff;
  padding: 15px 0px;
  font-size: 14px;
  transition: all .5s;
 }

  .menu__list-link:hover{
   color: rgb(204, 152, 152);
  }


 .header__title{
  font-size: 60px;
  line-height: 71px;
  margin-bottom: 15px;
 }

 .header__subtitle{
  font-size: 18px;
  line-height: 22px;
 }

 .icon-img{
  margin-bottom: 35px;
 }

 .icon-img rect{
  /* height: 37px; */
  /* width: 20px; */
 }

  .menu__btn {
   display: block;
   background-color: transparent;
   border: none;
   cursor: pointer;
   margin-top: 30px;
   margin-right: 20px;
  }

 .about__inner{
  display: block;
  }

  .about__text p{
   max-width: 100%;
   line-height: 22px;
  }

  .magic{
   background-image: none;
  }

  .magic__inner{
   margin-left: 0;
   max-width: 100%;
  }

  .team__items{
   flex-direction: column;
  }

    .team__position{
     margin-bottom: 38px;
    }

    .team__name{
     margin: 10px 0;
    }
}

@media(max-width: 440px) {

 .header__title {
  font-size: 43px;
  line-height: 46px;
 }

 .header__subtitle {
  font-size: 14px;
  line-height: 18px;
 }

 .icon-img {
  margin-bottom: 10px;
 }


  .footer__social{
   /* flex-direction: column; */
   flex-wrap: wrap;
  }

  .footer__social-list{
   padding-top: 25px;
  }

  .footer__logo{
   margin-bottom: 15px;
  }

}

@media(max-width: 375px) {


 .header__title {
  font-size: 35px;
  line-height: 37px;
 }

 .header__subtitle {
  font-size: 12px;
  line-height: 14px;
 }

 .icon-img {
  margin-bottom: 15px;
 }

}





























